.page-header
  = link_to pictures_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_picture_path(@picture), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show picture

%dl.dl-horizontal
  %dt Name:
  %dd= @picture.name
  %dt Thubmnail:
  %dd= image_tag @picture.thumbnail.url(:medium)